<input ng-if="!creating&&!editing" type="button" value="Editar" ng-click="edit()" class="btn btn-primary">
<div ng-if="editing||creating" class="col-md-8">
	<form action="" method="POST" role="form" ng-submit="submit()">
		<legend>Incidencia</legend>

		<div class="form-group">
			<label for="comunidad">Comunidad</label>
			<input id="comunidad" type="text" ng-model="incidencia.Comunidad" class="form-control">
		</div>
		<div class="form-group">
			<label for="Origen">Origen</label>
			<input  id="Origen" type="text" ng-model="incidencia.Origen" class="form-control">
		</div>
		<div class="form-group">
			<label for="Motivo">Motivo</label>
			<input  id="Motivo" type="text" ng-model="incidencia.Motivo" class="form-control">
		</div>
		<div class="form-group">
			<label for="Descripcion">Descripción</label>
			<input id="Descripcion" type="text" ng-model="incidencia.Descripcion" class="form-control">
		</div>
		<div class="form-group">
			<label for="Resumen">Resumen</label>
			<input id="Resumen" type="text" ng-model="incidencia.Resumen" class="form-control">
		</div>
		<div class="form-group">
			<label for="FechaEntrada">Fecha de Entrada</label>
			<input id="FechaEntrada" type="text" ng-model="incidencia.FechaEntrada" class="form-control">
		</div>
		<div class="form-group">
			<label for="HoraEntrada">Hora de Entrada</label>
			<input id="HoraEntrada" type="text" ng-model="incidencia.HoraEntrada" class="form-control">
		</div>
		<div class="form-group">
			<label for="FechaResolucion">Fecha Resolución</label>
			<input id="FechaResolucion" type="text" ng-model="incidencia.FechaResolucion" class="form-control">
		</div>
		<div class="form-group">
			<label for="Urgencia">Urgencia</label>
			<input id="Urgencia" type="checkbox" ng-model="incidencia.Urgencia" class="form-control">
		</div>

		<button ng-if="editing&&!creating"  type="submit" class="btn btn-primary">Editar</button>
		<button ng-if="creating&&!editing" type="submit" class="btn btn-primary">Guardar</button>
	</form>	
</div>

<div ng-if="!editing&&!creating">Estas en detalle de incidencia {{incidencia.Id}}</div>
