
<input  type="button" value="Nueva Incidencia" ng-click="createIncidencia()" class="btn btn-primary">
	<table class="table">
		<thead>
			<th>Comunidad</th>
			<th>Origen</th>
			<th>Motivo</th>
			<th>Descripción</th>
			<th>Acciones</th>
		</thead>
		<tbody>
			<tr ng-repeat="incidencia in incidencias">
				<td> <a href="#/incidencias/{{incidencia.Id}}" class="thumb">{{incidencia.Comunidad}}</a></td>
				<td>{{incidencia.Origen}}</td>
				<td>{{incidencia.Motivo}}</td>
				<td>{{incidencia.Descripcion}}</td>
				<td>
					<button  ng-click="delete(incidencia.Id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
					<button  ng-click="view(incidencia.Id)" class="btn btn-primary">
						<span class="glyphicon glyphicon-edit"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	
